<link rel="stylesheet" type="text/css" href="/css/home.css">
<link rel="stylesheet" type="text/css" href="/css/post.css">
<link rel="stylesheet" type="text/css" href="/css/comment.css">
<link rel="stylesheet" type="text/css" href="/css/chat_box.css">
<div id="home-container">
    <section id="feed-posts">
        <h2>Posts</h2>
        <% if(locals.user){ %>
        <form id="new-post-form" method="POST" action="/posts/create">
            <textarea name="content" rows="5" cols="50" placeholder="post something..." required></textarea>
            <input type="submit" value="Post"> 
        </form>
        <% } %>
        <ul id="list-of-posts">
            <% for(post of posts){ %>
                <%- include('_post'); -%>
            <% } %>
        </ul>
    </section>

    <section id="users">
        <% if(locals.user){ %>
            <div id="incoming-reqs">
                <h3>Incoming friend requests</h3>
                <ul id="incoming-list">
                    <% if(curr_user.receivedReqs.length != 0){ %>
                        <% for(receiveReq of curr_user.receivedReqs){ %>
                            <%- include('_incoming'); -%>
                        <% } %>
                    <% } %>
                </ul>
            </div>
            <div id="friends">
                <h3>
                    Friends 
                </h3>
                <ul id="friend-list">
                    <% for(friend of curr_user.friends){ %>
                        <%- include('_friend'); -%>
                    <% } %>
                </ul>
            </div>
        <% } %>
        <div id="all-users">
            <h3>
                All users 
            </h3>
            <ul id="all-users-list">
                <% for(u of users){ %>
                    <%- include('_user'); -%>
                <% } %>
            </ul>
        </div>
    </section>

    <%- include('_chat_box'); -%>
</div>

<script src="/js/reaction.js"></script>
<script src="/js/chat_engine.js"></script>
<script src="/js/home.js"></script>

<% if(locals.user){ %>
    <script>
        new ChatEngine('user-chat-box-<%= locals.user.id %>', '<%= locals.user.id %>', '<%= locals.user.name %>');
        $('.post-reactions').each(function(){
            let span = $(this);
            $('a', span).each(function(){
                let link = $(this);
                new EmoteReaction(link);
            });
        });
        $('.comment-reactions').each(function(){
            let span = $(this);
            $('a', span).each(function(){
                let link = $(this);
                new EmoteReaction(link);
            });
        });
    </script>
<% } %>