<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <%- style -%>
    <script src="https://kit.fontawesome.com/e83ab0ff70.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('_header'); -%>

    <main id="layout-main">
        <%- body -%>
    </main>

    <%- include('_footer'); -%>
    <%- script -%>
    <script>
        <% if(flash.success && flash.success.length > 0){ %>
            new Noty({
                text: "<%= flash.success %>",
                theme: 'relax',
                type: 'success',
                layout: 'topRight',
                timeout: 1500
            }).show();
        <% } %>

        <% if(flash.error && flash.error.length > 0){ %>
            new Noty({
                text: "<%= flash.error %>",
                theme: 'relax',
                type: 'error',
                layout: 'topRight',
                timeout: 1500
            }).show();
        <% } %>
    </script>
</body>
</html>