<link rel="stylesheet" type="text/css" href="/css/user_profile.css">
<link rel="stylesheet" type="text/css" href="/css/post.css">
<link rel="stylesheet" type="text/css" href="/css/comment.css">

<div id="user-profile-container">
    <div id="profile-image">
        <img src="<%= profile_user.avatar %>">
    </div> 
    <% if(signed_in_user.id == profile_user.id){ %>
        <span><%= profile_user.name %></span>
        <div id="update-profile">
            <h3>Update profile:</h3>
            <form method="POST" action="/users/update/<%= profile_user._id %>" enctype="multipart/form-data">
                Name: <input type="text" name="name" placeholder="enter name" value="<%= profile_user.name %>" required>
                <br><br>
                Email: <input type="email" name="email" placeholder="email" value="<%= profile_user.email %>" required>
                <br><br>
                Upload avatar:
                <input type="file" name="avatar" placeholder="Profile picture">
                <br><br>
                <input type="submit" value="Update">
            </form>
        </div>
    <% }else{ %>
        <div class="profile-info">
            <p>Name: <%= profile_user.name %></p>
            <p>Email: <%= profile_user.email %></p>
            <% if(friend_button.add){ %>
                <button class="add-friend-button" type="button" data-user="<%= profile_user.id %>" >Add friend</button>
            <% }else if(friend_button.sent){ %>
                <button type="button">Friend request pending!</button>
            <% }else if(friend_button.received){ %>
                <button type="button" class="accept-friend-button" data-user="<%= profile_user.id %>">Accept friend request</button>
                <button type="button" class="reject-friend-button" data-user="<%= profile_user.id %>">Reject friend request</button>
            <% }else{ %>
                <button type="button" class="remove-friend-button" data-id="<%= friend_button.id %>" data-user="<%= profile_user.id %>">Remove friend</button>
            <% } %>
        </div>
    <% } %>
</div>

<div id="recent-posts">
    <h3>Recent posts by user: </h3>
    <ul id="user-post-list">
        <% for(post of recent_posts){ %>
            <%- include('_post'); -%>    
        <% } %>
    </ul>
</div>

<script src="/js/user_profile.js"></script>
